.container-card {
    width: 82%;
    height: 18%;
    background-color: #FBFBFB;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box-picto {
    width: 60px;
    height: 60px;
    background: white;
    mix-blend-mode: normal;
    border-radius: 6px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-picto img {
    width: 60px;
    height: 60px;
    z-index: 10;
}

.box-info {}

.keyInfo {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.keyDescription {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #74798C;
}