.mainNavBar {
    color: white;
    text-decoration: none;
    outline: none;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linkHeader,
.linkProfil,
.linkReglages,
.linkCommunaute {
    color: white;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    font-size: 20px;
}

.linkHeader:hover,
.linkProfil:hover,
.linkReglages:hover,
.linkCommunaute:hover {
    opacity: 85%;
}