.header {
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
}

.logo {
    width: 170px;
    height: auto;
    margin: 20px;
}