.sideBar {
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;
    left: 0px;
    height: 100vh;
    width: 100px;
    background-color: black;
}

.copyright {
    position: absolute;
    bottom: 5%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: white;
    margin-left: 40%;
    font-size: 0.8rem;
}