.sideBar {
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    top: 95px;
    left: 0px;
    height: 93.1vh;
    width: 100px;
    background-color: black;
}